<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Messages</title>
</head>
<body class="body">
    <div class="container">
         <div class="messages">
            <div class="containernames">
                
                <h2 class="users">Users</h2>
                    <div class="senduser">
                        <img class="avatar" src="" alt="avatar">
                        <div class="usermessage"></div>
                    </div>
            </div>

            <div class="containermessages">

                <h2 class="msg">Messages</h2>

                    <div class="sendmessageuser1">
                        <img class="avatar" src="" alt="avatar">
                        <p class="textmessage"></p>
                    </div>

                    <div class="sendmessageuser2">
                        <img class="avatar" src="" alt="avatar">
                        <p class="textmessage"></p>
                    </div>
            </div>
        </div>

            <form action="" method="post" class="containersend">
                <input class="message" type="texte" id="input" name="msg" placeholder="Message...">
                <input class="submit"  type="submit" id="submit" value="Send">           
            </form>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/client.js"></script>

    <title>Real Chat Time</title>
</head>
<body class="body"> 
    <div class="accueil">
        <div class="containerimage">
           <img src="img/background4.jpg" alt="bulles de dialogue">
        </div>
        <div class="containerlogin">
            <h1 class="title">Welcome to the Real Chat Time!</h1>

            <% if (locals.errors) {%>
            <% errors.forEach((message) => { %>
                <div class="error"> <%= message %></div>
            <% }) %>
            <% } %>
            <form action="/login" method="post" class="login">
                <input class="usrnam" type="text" id="" name="login" placeholder="Username...">
                <input class="mail" type="password" id="" name="password" placeholder="Passwordemail" placeholder="Email...">
                <input class="send" type="submit" id="" value="LOGIN">
            </form>

            <div class="register">
                <h2 class="member">Not a member yet?</h2>

                <a href="/register" class="button">JOIN US</a>

            </div>    
        </div>  
    </div> 
>>>>>>> master
</body>
</html>