<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/message.css">
    <title>Messages</title>
</head>
<body class="body">
    <div class="container">
         <div class="messages">
            <div class="containernames">
                
                <h2 class="users">Users</h2>
                    <div class="senduser">
                        <img class="avatar" src="" alt="avatar">
                        <div class="usermessage"></div>
                    </div>
            </div>

            <div class="containermessages">

                <h2 class="msg">Messages</h2>

                   
                    <div class="sendmessageuser1">
                        <p class="datetime" id=""></p>
                        <img class="avatar" id="" src="" alt="avatar">
                        <p class="textmessage" id=""></p>
                        <div class="edit">
                            <a class="modified" href=""><img src="assets/img/crayon.png" alt="crayon"></a>
                            <a class="deleted" href=""><img src="assets/img/delete.png" alt="dossier avec croix"></a>
                       </div>
                    </div>

                    <div class="sendmessageuser2">
                        <p class="datetime" id=""></p>
                        <img class="avatar" id="" src="" alt="avatar">
                        <p class="textmessage" id=""></p>
                        <div class="edit">
                            <a class="modified" href=""><img src="assets/img/crayon.png" alt="crayon"></a>
                            <a class="deleted" href=""><img src="assets/img/delete.png" alt="dossier avec croix"></a>
                       </div>

                    </div>
            </div>
        </div>

            <form action="" method="post" class="containersend">
                <input class="message" type="texte" id="" name="msg" placeholder="Message...">
                <input class="submit"  type="submit" id="" value="Send">           
            </form>

            <form action="/logout" method="post" class="buttonlogout">
                <button class="logout" type="button">LOGOUT</button>
            </form>
    </div>
</body>
</html>