<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Messages</title>
</head>
<body class="body">
    <div class="container">
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>
         <div class="messages">
            <div class="containernames">
                
                <h2 class="users">Users</h2>
                    <div class="senduser">
                        <img class="avatar" src="" alt="avatar">
                        <div class="usermessage"><%= userName %></div>
                    </div>

            </div>

            <div class="containermessages" id="messages">

                <h2 class="msg">Messages</h2>

                    <div class="sendmessageuser1">
                        <p class="datetime" id=""></p>
                        <img class="avatar" id="" src="" alt="avatar">
                        <p class="textmessage" id=""></p>
                    </div>

                    <div class="sendmessageuser2">
                        <p class="datetime" id=""></p>
                        <img class="avatar" id="" src="" alt="avatar">
                        <p class="textmessage" id=""></p>
                    </div>

            </div>
        </div>

            <form class="containersend">
                <input class="message" type="texte" id="input" name="msg" placeholder="Message...">
                <button class="submit"  type="submit" id="submit" value="Send">send</button>
            </form>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/client.js"></script>
</body>
</html>