<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>

<body>
    <h1 class="titre">Real Chat Time !</h1>
    <div class="sign1">
        <div class="sign2">

            <h2>Sign up</h2>
            <h3>That may take 1 minute...</h3>
            <div class="column">
                <form method='post' action="/register">
                    <% if (locals.regErrors){%><% regErrors.forEach((message) => { %><div class="error"> <%= message %></div><% }) %><% }%>
                    <label for="username" class="name">Name</label>
                    <input type="text" name='login' id="username">
                    <label for="Email" class="name">Email</label>
                    <input type="email" name='mail' id="Email">
                    <label for='password' class="name">Password</label>
                    <input type="password" name='password' id="password">
                     <label for="avatar">Choose your avatar:</label>


                    <div class="avatar">
                            <table>
                                <tr>
                                    <td>
                                        <label class="avatars">
                                            <input type="radio" name="avatar">
                                            <img class='image' src="img/avatar1.png" alt="">
                                        </label>
                                    </td>
                                    <td>
                                        <label class="avatars">
                                            <input type="radio" name="avatar">
                                            <img class="image" src="img/Avatar2.png" alt="">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="avatars">
                                            <input type="radio" name="avatar">
                                            <img class="image" src="img/avatar3.png" alt="">
                                        </label>
                                    </td>
                                    <td>
                                        <label class="avatars">
                                            <input type="radio" name="avatar">
                                            <img class="image" src="img/avatar4.png" alt="">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="avatars">
                                            <input type="radio" name="avatar">
                                            <img class="image" src="img/avatar5.png" alt="">
                                        </label>
                                    </td>
                                    <td>
                                        <label class="avatars">
                                            <input type="radio" name="avatar">
                                            <img class="image" src="img/avatar6.png" alt="">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <label class="avatars">
                                        <input type="radio" name="avatar">
                                        <img class="image" src="img/avatar7.png" alt="">
                                    </label>
                                </td>
                                <td>
                                    <label class="avatars">
                                        <input type="radio" name="avatar">
                                        <img class="image" src="img/avatar8.png" alt="">
                                    </label>
                                </td>
                                </tr>
                                <tr>
                                    <td>
                                <label class="avatars">
                                    <input type="radio" name="avatar">
                                    <img class="image" src="img/avatar9.png" alt="">
                                </label>
                                </td>
                                <td>
                                <label class="avatars">
                                    <input type="radio" name="avatar">
                                    <img class="image" src="img/avatar10.png" alt="">
                                </label>
                            </td>
                            </tr>
                        </table> 

                            <input class="signup" id="signin" type="submit">

                    </div>
                </form>

         <p>Already have an account ? Go
            <a href="/"> there</a>
            then
        </p> 
    </div>
</div>
       
    </div>
    </div>
</body>

</html>  