<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
</head>
<body>
    <h1 class="titre">Real Time Chat !</h1>

    <div id="signup">
        
        <h2>Sign up</h2>
        <h3>That may take 1 minute...</h3>

        <form method='post' action='/register'>
            <% if (locals.regErrors) {%>
                <% regErrors.forEach((message) => { %>
                    <div class=""> <%= message %></div>
                <% }) %>
            <% } %>
            <label for="username"class="name">Name</label>
            <input type="text" name='login' id="username">
            <label for="Email"class="name">Email</label>
            <input type="mail" name='mail' id="Email">
            <label for='password'class="name">Password</label>
            <input type="password" name='password' id="password">
            <label for='cpassword'class="name">Confirm password</label>
            <input type="password" name='cpassword' id='cpassword'>
            <input class="signup" id="signin" type="submit">
        </form>
        Already have an account ? Go<a href="/"> there </a>then
    </div>
<!--<script src="js/bundle.js">-->

</script>
</body>
</html>